*{
    padding:0;
    margin:0;
    border: 0;
}
body {
    font-family : Helvetica, Arial, Sans-Serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    /* overflow-x: hidden; */
    background: url(../img/login_bg_02.png);
}
.name{
    display: inline-block;
    height: 59px;
    width: 435px;
    background: url(../img/login__03.png) no-repeat;
    position: absolute;
    top:370px;
    left:790px;
}
.zh{
    display: inline-block;
    color: #333333;
    font-size: x-large;
    position: absolute;
    top:370px;
    left:690px;
    height:59px;
    line-height: 59px;
}
#name{
    height: 53px;
    width: 347px;
    margin-top: 4px;
    margin-left: 73px;
    outline: none;
    line-height: 53px;
    white-space: nowrap;
    overflow: hidden;
    font-size: larger;
}
.mm{
    display: inline-block;
    color: #333333;
    font-size: x-large;
    position: absolute;
    top:470px;
    left:690px;
    height:59px;
    line-height: 59px;
}
.value{
    display: inline-block;
    height: 59px;
    width: 435px;
    background: url(../img/login__03.png) no-repeat;
    position: absolute;
    top:470px;
    left:790px;
}
#value{
    height: 53px;
    width: 347px;
    margin-top: 4px;
    margin-left: 73px;
    outline: none;
    line-height: 53px;
    white-space: nowrap;
    overflow: hidden;
    font-size: larger;
}
#input{
    display: inline-block;
    width:350px;
    height:45px;
    background: url(../img/login__14.png) no-repeat;
    background-size: 350px 45px;
    position: absolute;
    top:590px;
    left:783.5px;
    outline: none;
}