.dh{
    background: transparent;
}
.five{
    background: #01b6e2;
}
.caidan1{
    background-color: white;
}
.xianshi{
    overflow-y: auto;
    background-color: white;
}
table{
    border-collapse:collapse;
}
#zx{
    width: 98%;
    margin: 1% 1%;
    text-align: center;
}
#zx tr th {
    border-left:0; 
    border-right:0;
    font-size: large;  
}
#zx tr td{
    border-left:0; 
    border-right:0;
    font-size: large;  
}
#zx tr{
    border-left:0; 
    border-right:0;
    font-size: large;  
}
.jfour{
    background-color: white;
}
#css1{
    display:none;
    width: 100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    z-index: 100000001;
}
#tcts1{
    background-image: linear-gradient(#d1ecff,#90d1ff);
    width:38%;
    height:320px;
    position: fixed;
    top:30%;
    left:31%;
    z-index: 100000000;
    opacity: 1;
    overflow-y: auto;
    font-size: large;
}
/* 测试 */
#browser{
    text-align: center;
}