*{
    padding:0;
    margin:0;
    border: 0;
}
html{
    height:100%;
}
body {
    font-family : Helvetica, Arial, Sans-Serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: url(../img/background.png) no-repeat;
    height:90%;
}
#top{
    margin-top: 3px;
    height: 108px;
    background-image: linear-gradient(to right, #01b6fc , #1ce4ae);
}
#login{
    display: inline-block;
    height:60px;
    width:170px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top:40px;
}
#inf-namenow{
    display: inline-block;
    height: 60px;
    width: 65px;
    vertical-align: top;
}
#inf-namenow-name{
    color: white;
}
#inf-namenow-time{
    color: white;
    font-size: xx-small;
}
#img-usernow{
    display: inline-block;
    height: 60px;
    width: 65px;
    margin-left: 20px;
    background: url(../img/t.jpg);
    background-size: 60px 60px;
}
.text{
    display: inline-block;
    width: 447px;
    height:50px;
    background: url("../img/home__08.png") no-repeat;
    background-size: 447px 50px;
    position: absolute;
    top:20px;
    left:80px;
}
.logo{
    display: inline-block;
    width: 60px;
    height: 50px;
    background: url("../img/home__07.png") no-repeat;
    background-size: 60px 50px;
    position: absolute;
    top:20px;
    left:20px;
}
#dh{
    display: inline-block;
    position: absolute;
    top:60px;
    left:600px;
    color: white;
    font-size: xx-large;
}
.one{
    background: #01b6e2;
}
.two,.three,.four,.five{
    margin-left: 70px;
}
.dh{
    display: inline-block;
    height: 48px;
    line-height: 48px;
    width:140px;
    text-align: center;
    cursor: pointer;
}
#log2{
    text-align: center;
    position: absolute;
    top:25%;
    left:20%;
}
#load{
    position: absolute;
    top:40%;
    left:40%;
}
#load-inf{
    color: white;
    position: absolute;
    top:47%;
    left:39%;
}
#load-img{
    position: absolute;
    top:55%;
    left:24%;
}
.dh-bottom{
    display: inline-block;
    width:100%;
    height:822px;
    position: absolute;
}
.one1{
    display: none;
    color: white;
    font-size: 80px;
    line-height: 700px;
    text-align: center;
}
.two2,.three3,.four4,.five5{
    display: none;
}
.caidan{
    display: inline-block;
    height:93.6%;
    width: 400px;
    background:#cfe1ef;
    border: 1px #9fccf0 solid;
    position: absolute;
    bottom: 0px;
}
.xianshi{
    display: inline-block;
    height:93.6%;
    width:1518px;
    background:#ffffff;
    border: 1px #9fccf0 solid;
    position: absolute;
    bottom: 0px;
    left:400px;
}
.middle{
    display: inline-block;
    height:6%;
    width:400px;
    border: 1px #9fccf0 solid;
    background: #bcd6ee;
    position: absolute;
}
.middle1{
    display: inline-block;
    height:6%;
    width: 1518px;
    border: 1px #9fccf0 solid;
    background: #bcd6ee;
    position: absolute;
    left:400px;
}
.middle-s{
    display: inline-block;
    height: 90%;
    width: 80%;
    background:url(../img/search_bg.png) no-repeat;
    margin-left: 20%;
    margin-top: 1%;
}
.ser-c{
    margin-left: 15px;
    font-size: large;
    width: 180px;
    outline: none;
    position: relative;
    bottom: 15px;
}
.ser-b{
    width:45px;
    height:38px;
    background:transparent;
    outline: none;
}
.gd{
    display: inline-block;
    height: 100%;
    width: 8px;
    background: #338ace;
}
.gd-n{
    display: inline-block;
    height:33px;
    width: 8px;
    background: #15d6c5;
}
.caidan1{
    position: absolute;
    left:8px;
    display: inline-block;
    width: 392px;
    height: 100%;
}
.cds{
    background: url(../img/btn_bg_01.png) no-repeat;
    display: inline-block;
    width: 252px;
    height:33px;
    margin-left: 70px;
    color: white;
    font-size: large;
    text-align: center;
    line-height: 33px;
}
.sfq{
    display: inline-block;
    width: 232px;
    height:0px;
    margin-left: 80px;
    background: #bfdbf3;
    overflow: hidden;
}
.sfqx{
    text-align: center;
}
.xz{
    display: inline-block;
    width: 221px;
    height: 37px;
    font-size: large;
    color: #9d9d9d;
    border: 1px #9fdfed solid;
    position: absolute;
    background: transparent;
    right: 50px;
    top:25px;
}
.fg1{
    display: inline-block;
    width: 20px;
    height: 37px;
    background: #06c0e9;
    position: absolute;
    right: 50px;
    top:25px;
}
.xgj{
    display: inline-block;
    width: 545px;
    height:30px;
    background: #04c4db;
    position: absolute;
    border-radius: 30px;
    top:20px;
    left:487px;
}