*{
    padding:0;
    margin:0;
    border: 0;
}
body {
    font-family : Helvetica, Arial, Sans-Serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#top{
    margin-top: 3px;
    height: 108px;
    background-image: linear-gradient(to right, #01b6fc , #1ce4ae);
}
#login{
    display: inline-block;
    text-align: center;
    height:29px;
    width:95px;
    line-height: 29px;
    border-radius: 31px;
    border:0;
    background: #4ab9e8;
    color: white;
    position: absolute;
    right:302px;
    top:32px;
    cursor: pointer;
}
.text{
    display: inline-block;
    width: 447px;
    height:50px;
    background: url("../img/home__08.png") no-repeat;
    background-size: 447px 50px;
    position: absolute;
    top:20px;
    left:80px;
}
.logo{
    display: inline-block;
    width: 60px;
    height: 50px;
    background: url("../img/home__07.png") no-repeat;
    background-size: 60px 50px;
    position: absolute;
    top:20px;
    left:20px;
}
