
.dh{
    background: transparent;
}
.two{
    background: #01b6e2;
}
.qone{
    background: white;
}

/* 隐藏缩放按钮 */
#map_div_zoom_slider {
    display:none;
}

/* 隐藏影像缩放按钮 */
#left-yingxiang_zoom_slider {
    display:none;
}
#left-yingxiang{
   background-color: white;
   display:none;
   z-index:9990;
   position: absolute;
   right: 0;
   bottom:0;
   border: 1px #9fccf0 solid;
   height:100%;
   width:50%;
}